.content::-webkit-scrollbar {width: 5px;}

.content::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);}

.content::-webkit-scrollbar-thumb {background-color: #000; border-radius: 5px;}


.logo,
.contact {
    height: 100vh;
}

.logo {
    position: relative;
    background: url("../img/1.jpg") no-repeat center;
    background-size: cover;
}

.logo:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, 1));
}
.logo::after {
    content: '';
    position: absolute;
    top: 7vh;
    right: -40px;
    border: 20px solid #010101;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
}

.logo .caption {
    position: relative;
    z-index: 1;
}

.contact {
    overflow: auto;
}

.contact .content {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    height: 100vh;
}
.contact header {
    position: relative;
}

.contact header:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background: #343a40;
    width: 130px;
}
.contact .contact-info a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0,0,0,.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: .2rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: #1d2124;
}

footer {
    margin: .3rem 0 1rem;
}
footer p {
    font-size: 1rem;
}
